*~

.build
.build-detour

/get_sources.tar
/utils/bootstrap-early/config

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
/ylwrap
