[submodule "src/autoconf"]
	path = src/autoconf
	url = git://git.sv.gnu.org/autoconf.git
[submodule "src/automake"]
	path = src/automake
	url = git://git.sv.gnu.org/automake.git
[submodule "src/libtool"]
	path = src/libtool
	url = git://git.sv.gnu.org/libtool.git
[submodule "src/rsync"]
	path = src/rsync
	url = git://git.samba.org/rsync.git
[submodule "src/e2fsprogs"]
	path = src/e2fsprogs
	url = git://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
[submodule "src/bison"]
	path = src/bison
	url = git://git.savannah.gnu.org/bison.git
[submodule "src/srp"]
	path = src/srp
	url = ../srp3.git
[submodule "src/git"]
	path = src/git
	url = git://github.com/git/git.git
[submodule "src/busybox"]
	path = src/busybox
	url = git://busybox.net/busybox.git
[submodule "src/m4"]
	path = src/m4
	url = ../contrib/m4.git
[submodule "src/util-linux"]
	path = src/util-linux
	url = git://git.kernel.org/pub/scm/utils/util-linux/util-linux.git
# NOTE: We have a toplevel gnulib module because it's used to bootstrap a
#       ton of the GNU project's git trees.  It is not a stand-alone
#       package.
[submodule "src/gnulib"]
	path = src/gnulib
	url = git://git.savannah.gnu.org/gnulib.git
[submodule "src/bootscripts"]
	path = src/bootscripts
	url = ../contrib/bootscripts.git
[submodule "src/kernel"]
	path = src/kernel
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
[submodule "src/pkg-config"]
	path = src/pkg-config
	url = ../contrib/pkg-config.git
[submodule "src/gperf"]
	path = src/gperf
	url = git://git.sv.gnu.org/gperf.git
[submodule "src/ntfs-3g"]
	path = src/ntfs-3g
	url = git://ntfs-3g.git.sourceforge.net/gitroot/ntfs-3g/ntfs-3g
[submodule "src/tcl"]
	path = src/tcl
	url = ../contrib/tcl.git
[submodule "src/expect"]
	path = src/expect
	url = ../contrib/expect.git
[submodule "src/dejagnu"]
	path = src/dejagnu
	url = git://git.sv.gnu.org/dejagnu.git
[submodule "src/nasm"]
	path = src/nasm
	url = git://repo.or.cz/nasm.git
# FIXME: might need to use SOURCE_URL for syslinux.  building from git is
#        strongly discouraged by the author.
[submodule "src/syslinux"]
	path = src/syslinux
	url = git://git.kernel.org/pub/scm/boot/syslinux/syslinux.git
[submodule "src/xz"]
	path = src/xz
	url = http://git.tukaani.org/xz.git
[submodule "src/make"]
	path = src/make
	url = ../contrib/make.git
[submodule "src/gzip"]
	path = src/gzip
	url = git://git.savannah.gnu.org/gzip.git
# NOTE: The tar source tree doesn't register paxutils as a submodule, it
#       clones directly via its bootstrap script.  The PAXUTILS_SRCDIR
#       variable should be set to toplevel/src/paxutils to force bootstrap
#       to clone it from there.
[submodule "src/tar"]
	path = src/tar
	url = git://git.savannah.gnu.org/tar.git
# NOTE: paxutils is used by both tar and cpio, so we have a shared toplevel
#       repo for it, even though it's not a standalone package.
#
# FIXME: we don't even have a cpio submod yet...
[submodule "src/paxutils"]
	path = src/paxutils
	url = git://git.savannah.gnu.org/paxutils.git
[submodule "src/curl"]
	path = src/curl
	url = git://github.com/bagder/curl.git
# NOTE: Cloog has two submods, isl and openscop, but neither is used by any
#       other package, so we don't bother keeping them at the toplevel.
[submodule "src/cloog"]
	path = src/cloog
	url = ../contrib/cloog.git
[submodule "src/gettext"]
	path = src/gettext
	url = ../contrib/gettext.git
