[submodule "src/autoconf"]
	path = src/autoconf
	url = git://git.sv.gnu.org/autoconf.git
[submodule "src/automake"]
	path = src/automake
	url = git://git.sv.gnu.org/automake.git
[submodule "src/libtool"]
	path = src/libtool
	url = git://git.sv.gnu.org/libtool.git
[submodule "src/rsync"]
	path = src/rsync
	url = git://git.samba.org/rsync.git
[submodule "src/e2fsprogs"]
	path = src/e2fsprogs
	url = git://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
[submodule "src/bison"]
	path = src/bison
	url = git://git.savannah.gnu.org/bison.git
[submodule "src/srp"]
	path = src/srp
	url = ../srp3.git
[submodule "src/git"]
	path = src/git
	url = git://github.com/git/git.git
[submodule "src/busybox"]
	path = src/busybox
	url = git://busybox.net/busybox.git
[submodule "src/m4"]
	path = src/m4
	url = ../contrib/m4.git
[submodule "src/util-linux"]
	path = src/util-linux
	url = git://git.kernel.org/pub/scm/utils/util-linux/util-linux.git
[submodule "src/gnulib"]
	path = src/gnulib
	url = git://git.savannah.gnu.org/gnulib.git
[submodule "src/bootscripts"]
	path = src/bootscripts
	url = ../contrib/bootscripts.git
[submodule "src/kernel"]
	path = src/kernel
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
[submodule "src/pkg-config"]
	path = src/pkg-config
	url = ../contrib/pkg-config.git
[submodule "src/gperf"]
	path = src/gperf
	url = git://git.sv.gnu.org/gperf.git
[submodule "src/ntfs-3g"]
	path = src/ntfs-3g
	url = git://ntfs-3g.git.sourceforge.net/gitroot/ntfs-3g/ntfs-3g
[submodule "src/tcl"]
	path = src/tcl
	url = ../contrib/tcl.git
[submodule "src/expect"]
	path = src/expect
	url = ../contrib/expect.git
[submodule "src/dejagnu"]
	path = src/dejagnu
	url = git://git.sv.gnu.org/dejagnu.git
[submodule "src/nasm"]
	path = src/nasm
	url = git://repo.or.cz/nasm.git
[submodule "src/syslinux"]
	path = src/syslinux
	url = git://git.kernel.org/pub/scm/boot/syslinux/syslinux.git
[submodule "src/xz"]
	path = src/xz
	url = http://git.tukaani.org/xz.git
[submodule "src/make"]
	path = src/make
	url = ../contrib/make.git
[submodule "src/gzip"]
	path = src/gzip
	url = git://git.savannah.gnu.org/gzip.git
[submodule "src/tar"]
	path = src/tar
	url = git://git.savannah.gnu.org/tar.git
[submodule "src/paxutils"]
	path = src/paxutils
	url = git://git.savannah.gnu.org/paxutils.git
[submodule "src/curl"]
	path = src/curl
	url = git://github.com/bagder/curl.git
[submodule "src/cloog"]
	path = src/cloog
	url = ../contrib/cloog.git
[submodule "src/gettext"]
	path = src/gettext
	url = ../contrib/gettext.git
[submodule "src/isl"]
	path = src/isl
	url = git://repo.or.cz/isl.git
[submodule "src/openscop"]
	path = src/openscop
	url = git://repo.or.cz/openscop.git
